<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eats.mapper.user.MainMapper">
	<select id="getCateKey" resultType="com.eats.user.model.CateKeyDTO">
		select * from cate_key order by cate_key_idx asc
	</select>

	<select id="getValueList" parameterType="Integer" resultType="String">
		select cate_value_name from cate_value where
		cate_key_idx=#{cate_key_idx} order by cate_value_idx asc
	</select>
	
	<select id="getCateValues" parameterType="Integer" resultType="com.eats.user.model.CateValueDTO">
		select * from cate_value where
		cate_key_idx=#{cate_key_idx} order by cate_value_idx asc
	</select>

	<select id="getCityList" resultType="com.eats.user.model.AreaDTO">
		select * from area where area_lev=1
	</select>

	<select id="getUnitList" parameterType="Integer" resultType="String">
		select area_name from area where area_lev=2 and
		parent_idx=#{area_idx}
	</select>

	<select id="getPopularReviews" parameterType="String" resultType="Integer">
		select rev_idx from (select rownum rn, rev_idx from (select rev_idx
		<choose>
			<when test="cityWord != null and cityWord != '' and unitWord != null and unitWord != ''">
				from (select rev_like.*
				from rev_like, (select rev_idx
				from review, (select reserve_idx
				from reservation, (select store_idx
				from store where store_addr like '%'||#{cityWord}||'%'||#{unitWord}||'%')a
				where reservation.store_idx=a.store_idx)b
				where review.reserve_idx=b.reserve_idx)c
				where rev_like.rev_idx=c.rev_idx)
			</when>
			<otherwise>
				from rev_like
			</otherwise>
		</choose>
		group by rev_idx
		order by count(*) desc))
		where rn between 1 and 3
	</select>

	<select id="getReview" parameterType="Integer" resultType="com.eats.user.model.ReviewDTO">
		select c.*, user_nickname, profile_image
		from (select b.*, store_name,
		store_addr
		from (select a.*, user_idx, store_idx, reserve_date
		from
		(select * from review where rev_idx=#{rev_idx})a, reservation
		where
		a.reserve_idx=reservation.reserve_idx)b, store
		where
		store.store_idx=b.store_idx)c, user_profile
		where
		user_profile.user_idx=c.user_idx
	</select>

	<select id="getStorePoint" parameterType="Integer" resultType="Double">
		select nvl(round(avg, 2),0)
		from (select avg(rev_score) avg
		from
		(select review.*, store_idx
		from review, reservation
		where
		review.reserve_idx=reservation.reserve_idx and
		store_idx=#{store_idx}))a
	</select>

	<select id="getFollowerCount" parameterType="Integer" resultType="Integer">
		select count(*) from follow where
		following_idx=#{user_idx}
	</select>

	<select id="getLikeCount" parameterType="Integer" resultType="Integer">
		select count(*) from rev_like where rev_idx=#{rev_idx}
	</select>
	
	<select id="getTag" parameterType="Integer" resultType="String">
		select cate_value_name from cate_value where cate_value_idx=#{cate_value_idx}
	</select>
	
	<select id="getReviewCountByStoreIdx" parameterType="Integer" resultType="Integer">
		select count(*) from review, reservation
		where review.reserve_idx=reservation.reserve_idx
		and store_idx=#{store_idx}
	</select>
	
	<select id="getStoreByJjimCount" parameterType="map" resultType="com.eats.store.model.HYStoreDTO">
		select * from
		(select rownum rn, d.* from 
		(select jcnt, c.* from
		(select b.*, store_img from
		(select a.* from
		(select * from store where store_state=upper('true')
		<if test="cityWord != null and cityWord != '' and unitWord != null and unitWord != ''">
			and store_addr like '%'||#{cityWord}||'%'||#{unitWord}||'%'
		</if>
		)a, store_time
		where stime_day=#{week} and store_time.store_idx=a.store_idx)b, store_img
		where b.store_idx=store_img.store_idx and img_order=1)c,
		(select store_idx, count(*) jcnt from jjim group by store_idx)j
		where c.store_idx=j.store_idx
		order by jcnt desc)d)
		where rn between 1 and 4
	</select>
	
	<select id="getStoreByStarPoint" parameterType="map" resultType="com.eats.store.model.HYStoreDTO">
		select * from
		(select rownum rn, d.* from 
		(select point, c.* from
		(select b.*, store_img from
		(select a.* from 
		(select * from store where store_state=upper('true')
		<if test="cityWord != null and cityWord != '' and unitWord != null and unitWord != ''">
			and store_addr like '%'||#{cityWord}||'%'||#{unitWord}||'%'
		</if>
		)a, store_time
		where stime_day=#{week} and store_time.store_idx=a.store_idx)b, store_img
		where b.store_idx=store_img.store_idx and img_order=1)c,
		(select store_idx, round(avg(rev_score),2) point from review, reservation
		where reservation.reserve_idx=review.reserve_idx
		group by store_idx)p
		where c.store_idx=p.store_idx
		order by point desc)d)
		where rn between 1 and 4
	</select>
	
	<select id="getStoreCategoryName" parameterType="Integer" resultType="String">
		select cate_value_name from category, cate_value
		where store_idx=#{store_idx}
		and category.cate_value_idx = cate_value.cate_value_idx
	</select>
	
	<select id="getBannerForSwiper" parameterType="String" resultType="com.eats.admin.model.BannerDTO">
		select * from banner where banner_stat=1 and #{todate} between banner_sdate and banner_edate
		order by banner_order asc
	</select>
</mapper>