<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eats.mapper.user.SearchMapper">
	<insert id="addSearchWord" parameterType="String">
		insert into search
		values(search_idx_seq.nextval,#{searchWord},sysdate)
	</insert>

	<select id="getSearchCount" parameterType="String" resultType="Integer">
		select
		count(*) from search where search_word = #{searchWord}
	</select>

	<select id="getSearchData" parameterType="map" resultType="com.eats.admin.model.SearchDTO">
		select search_word, count(*) search_count from search
		where (search_date between to_date(#{first_date},'YYYY-MM-DD') and to_date(#{last_date},'YYYY-MM-DD'))
		group by search_word
	</select>
	
	<select id="getSearchCountByTag" parameterType="map" resultType="com.eats.admin.model.SearchDTO">
		select search_word, count(*) search_count from search where 
		<foreach collection="valueList" item="item" open="(" close=")" separator="or">	
			search_word like '%'||#{item}||'%'
		</foreach>
		and search_date between to_date(#{first_date},'YYYY-MM-DD') and to_date(#{last_date},'YYYY-MM-DD')
		group by search_word
	</select>

	<select id="getStoreInfo" parameterType="Map" resultType="com.eats.store.model.HYStoreDTO">
		select distinct b.*, avg_price, store_img
		from (
		select a.* from (select distinct * from store
		where
		<if test="city!=null and city!='' and unit!=null and unit!='' ">
			store_addr like #{city}||'%'||#{unit}||'%' and 
		</if>
		<if test="word!=null and word!=''">
			store_name like '%'||#{word}||'%' and
		</if>
		store_state='TRUE')a
		<if test="tag.size()>0">
			,
		</if>
		<foreach collection="tag" item="tagList" index="i">	
			(select category.* from
		</foreach>
		<foreach collection="tag" item="tagList" index="i" separator=",">
			category where category.cate_value_idx=#{tagList.valueidx})
		</foreach>
		<if test="tag.size()>0">
			cate where a.store_idx=cate.store_idx
		</if>
		)b, (select store_idx, round(avg(menu_price),0) avg_price
		from menu, menu_cate where menu.m_cate_idx=menu_cate.m_cate_idx
		group by store_idx)price, store_img
		where b.store_idx=price.store_idx and store_img.store_idx=price.store_idx and img_order=1
		order by store_area asc
	</select>
	
	<select id="getStoreStimeDay" parameterType="Map" resultType="Integer">
		select count(*) from store_time where store_idx=#{store_idx} and stime_day=#{week}
	</select>
	
	<select id="getStoreTimes" parameterType="Map" resultType="com.eats.store.model.StoreTimeDTO">
		select * from store_time where store_idx=#{store_idx} and stime_day=#{week}
	</select>
</mapper>