<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eats.mapper.user.SearchMapper">
	<insert id="addSearchWord" parameterType="String">
		insert into search
		values(search_idx_seq.nextval,#{searchWord},sysdate)
	</insert>

	<select id="getSearchCount" parameterType="String" resultType="Integer">
		select
		count(*) from search where search_word = #{searchWord}
	</select>

	<select id="getSearchData" parameterType="map" resultType="com.eats.admin.model.SearchDTO">
		select search_word, count(*) search_count from search
		where (search_date between to_date(#{first_date},'YYYY-MM-DD') and to_date(#{last_date},'YYYY-MM-DD'))
		group by search_word
	</select>
	
	<select id="getSearchCountByTag" parameterType="map" resultType="com.eats.admin.model.SearchDTO">
		select search_word, count(*) search_count from search where 
		<foreach collection="valueList" item="item" open="(" close=")" separator="or">	
			search_word like '%'||#{item}||'%'
		</foreach>
		and search_date between to_date(#{first_date},'YYYY-MM-DD') and to_date(#{last_date},'YYYY-MM-DD')
		group by search_word
	</select>

	<select id="getStoreInfo" parameterType="Map" resultType="com.eats.store.model.HYStoreDTO">
		select distinct b.*
		from (select a.*, stime_start, stime_end, stime_break
		from (select * from store
		where
		<if test="city!=null and city!='' and unit!=null and unit!='' ">
			store_addr like #{city}||'%'||#{unit}||'%' and 
		</if>
		store_state='TRUE')a, store_time
		<if test="week !=null and week!='' ">
			where stime_day=#{week}
		</if>
		)b
		<if test="tag.size()>0">
			,
		</if>
		<foreach collection="tag" item="tagList" index="i">	
			(select category.* from
		</foreach>
		<foreach collection="tag" item="tagList" index="i" separator=",">
			category where category.cate_value_idx=#{tagList.valueidx})
		</foreach>
		<if test="tag.size()>0">
			cate where b.store_idx=cate.store_idx
		</if>
		order by store_name asc
	</select>
	
</mapper>