<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eats.mapper.user.SearchMapper">
	<insert id="addSearchWord" parameterType="String">
		insert into search
		values(search_idx_seq.nextval,#{searchWord},sysdate)
	</insert>

	<select id="getSearchCount" parameterType="String" resultType="Integer">
		select
		count(*) from search where search_word = #{searchWord}
	</select>

	<select id="getSearchData" parameterType="map" resultType="com.eats.admin.model.SearchDTO">
		select search_word, count(*) search_count from search
		where search_date between to_date(#{now_date},'YYYY-MM-DD') and to_date(#{next_date},'YYYY-MM-DD')
		group by search_word
	</select>
	
	<select id="getAllCateKeyName" resultType="String">
		select cate_key_name from cate_key order by cate_key_idx asc
	</select>
	
</mapper>