<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.eats.mapper.user.TimelineMapper">
  
  <select id="randomuser" resultType="com.eats.user.model.TimelineDTO">
  SELECT USER_NICKNAME FROM 
  (SELECT * FROM USER_PROFILE ORDER BY DBMS_RANDOM.VALUE) 
  WHERE ROWNUM &lt;= 4
  </select>
  
  
  
  </mapper>
  