<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.eats.mapper.user.TimelineMapper">
  
  <select id="randomuser" resultType="com.eats.user.model.TimelineDTO">
  
 	SELECT USER_NICKNAME, USER_IDX, PROFILE_IMAGE
	FROM (
    SELECT USER_NICKNAME, USER_IDX, PROFILE_IMAGE 
    FROM USER_PROFILE 
    ORDER BY DBMS_RANDOM.VALUE
	) 
	WHERE ROWNUM &lt;= 4
	
  </select>
  
  
  <select id="selectReviewList" resultType="com.eats.user.model.TimelineDTO">
  
SELECT 
    r.RESERVE_IDX,
    r.USER_IDX,
    r.STORE_IDX,
    r.RESERVE_DATE,
    r.RESERVE_TIME,
    r.RESERVE_COUNT,
    r.RESERVE_STATE,
    rev.REV_IDX,
    rev.REV_SCORE,
    rev.REV_CONTENT,
    rev.REV_WRITEDATE,
    rev.REV_STATE,
    rev.REV_IMG,
    rev.REV_MENU,
    rev.REV_TAG,
	up.USER_NICKNAME,
	st.STORE_NAME,
	st.STORE_ADDR
FROM 
    RESERVATION r
JOIN 
    REVIEW rev ON r.RESERVE_IDX = rev.RESERVE_IDX
JOIN 
USER_PROFILE up ON r.USER_IDX = up.USER_IDX
JOIN
STORE st ON r.STORE_IDX = st.STORE_IDX

WHERE 
    r.RESERVE_STATE = 3
    
  </select>
  
  
  
  <select id="selectFollowerReview" parameterType="Integer" resultType="com.eats.user.model.TimelineDTO">
  	SELECT 
    r.RESERVE_IDX,
    r.USER_IDX,
    r.STORE_IDX,
    r.RESERVE_DATE,
    r.RESERVE_TIME,
    r.RESERVE_COUNT,
    r.RESERVE_STATE,
    rev.REV_IDX,
    rev.REV_SCORE,
    rev.REV_CONTENT,
    rev.REV_WRITEDATE,
    rev.REV_STATE,
    rev.REV_IMG,
    rev.REV_MENU,
    rev.REV_TAG,
	up.USER_NICKNAME,
	st.STORE_NAME,
	st.STORE_ADDR
FROM 
    RESERVATION r
JOIN 
    REVIEW rev ON r.RESERVE_IDX = rev.RESERVE_IDX
JOIN 
USER_PROFILE up ON r.USER_IDX = up.USER_IDX
JOIN
STORE st ON r.STORE_IDX = st.STORE_IDX
WHERE 
    r.RESERVE_STATE = 3
AND
	r.USER_IDX=#{user_idx}
  </select>
  
  
  
  <insert id="userFollow" parameterType="Map">
  
  	 insert into follow
  	 values(
  	 follow_idx_seq.nextval,
  	 #{user_idx},
  	 #{following_idx}
  	 )  	
  	  
  </insert>
  
  
  <delete id="unFollow" parameterType="Map">
  
  	delete from
  	follow
  	where
  	user_idx=#{user_idx}
  	and
  	following_idx=#{following_idx}
  
  </delete>
  
  
  
  <select id="timeLineProfile" parameterType="int" resultType="com.eats.user.model.TimelineDTO">
  
  	SELECT 
    COUNT(r.REV_IDX) AS total_reviews,  
    (SELECT COUNT(*) 
     FROM FOLLOW 
     WHERE FOLLOWING_IDX = #{user_idx}) AS follower_count,  
    (SELECT COUNT(*) 
     FROM FOLLOW 
     WHERE USER_IDX = #{user_idx}) AS following_count  
	FROM EATS_USER u
	LEFT JOIN REVIEW r ON u.USER_IDX = r.RESERVE_IDX  
	WHERE u.USER_IDX = #{user_idx}
	GROUP BY u.USER_IDX

  </select>
  
  
  </mapper>
  