@charset "UTF-8";

	body {margin:0; padding:0; font-size:12px;}
	.header {width:100%; height:80px; background:#DAF0FF;}
	.contents {display: flex;}
	.contents > * {float:left;}
	.contents .leftMenu {width:200px; height: calc(100vh - 80px); background:#DAF0FF;}
	.contents .mainCont {width:calc(100% - 200px); padding:20px 30px;}
	
	
	/* 이미지관리-저장버튼 박스, 정보수정신청-수정신청버튼 박스 */
	.mainCont .btnBox_top > * {float:right; margin-top:-40px;}
	
	.mainCont .btnBox_bottom > * {float:right; margin-left:10px;}
	
	
	/* 이미지관리-이미지등록 테이블박스 */
	.contents .mainCont .mainCon_400 {width:400px;}
	.mainCon_400 .tableWrite_2 {}
	.mainCon_400 .tableWrite_2 table {width:100%;}
	.mainCon_400 .tableWrite_2 table tr {height:40px; }
	.mainCon_400 .tableWrite_2 table tr th {width:40%; text-align:right; padding-right:20px; border-bottom:1px solid #ddd;}
	.mainCon_400 .tableWrite_2 table tr td {width:60%; border-bottom:1px solid #ddd;}
	.mainCon_400 .tableWrite_2 table tr:last-child th {border-bottom:0px solid #ddd;}
	.mainCon_400 .tableWrite_2 table tr:last-child td {border-bottom:0px solid #ddd;}
	
	
	/* 소식관리-소식등록, 수정, 상세보기 테이블박스 */
	.contents .mainCont .mainCon_800 {width:800px;}
	.mainCon_800 .tableWrite_2 {}
	.mainCon_800 .tableWrite_2 table {width:100%;}
	.mainCon_800 .tableWrite_2 table tr {height:40px; }
	.mainCon_800 .tableWrite_2 table tr th {width:15%; text-align:right; padding-right:20px; border-bottom:1px solid #ddd;}
	.mainCon_800 .tableWrite_2 table tr td {width:85%; border-bottom:1px solid #ddd;}
	.mainCon_800 .tableWrite_2 table tr:last-child th {border-bottom:0px solid #ddd;}
	.mainCon_800 .tableWrite_2 table tr:last-child td {border-bottom:0px solid #ddd;}
	
	.mainCon_800 .tableWrite_2 table tr td pre {
		width:600px; 
		/* word-wrap: break-word; 단어가 길어지면 줄바꿈 */
		/* word-break: break-all; 글자 단위로 강제로 줄바꿈 */
	}
	
	.mainCon_800 .tableWrite_2 table tr td img {width:600px;}
	
	
	/* 정보수정신청 테이블박스 */
	.mainCon_800 .tableWrite_4 {}
	.mainCon_800 .tableWrite_4 table {width:100%;}
	.mainCon_800 .tableWrite_4 table tr {height:60px;}
	.mainCon_800 .tableWrite_4 table tr th {width:20%; text-align:right; padding-right:20px; border-bottom:1px solid #eee;}
	.mainCon_800 .tableWrite_4 table tr td {width:30%; border-bottom:1px solid #eee;}
	.mainCon_800 .tableWrite_4 table tr:last-child th {border-bottom:0px solid #ddd;}
	.mainCon_800 .tableWrite_4 table tr:last-child td {border-bottom:0px solid #ddd;}
	
	
	/* 영업시간수정 테이블박스 */
	.mainCon_1000 {width:1000px;}
	.mainCon_1000 .tableWrite_3 {}
	.mainCon_1000 .tableWrite_3 table {width:100%;}
	.mainCon_1000 .tableWrite_3 table tr {height:60px;}
	.mainCon_1000 .tableWrite_3 table tr th {width:10%; text-align:right; padding-right:20px; border-bottom:1px solid #eee;}
	.mainCon_1000 .tableWrite_3 table tr td { border-bottom:1px solid #eee;}
	.mainCon_1000 .tableWrite_3 table tr:last-child th {border-bottom:0px solid #ddd;}
	.mainCon_1000 .tableWrite_3 table tr:last-child td {border-bottom:0px solid #ddd;}
	
	/* 소식관리 - 리스트 박스 */
	.contents .mainCont .mainCon_1400 {width:1400px;}
	.mainCon_1400 .tableList {}
	.mainCon_1400 .tableList table {width:100%;}
	.mainCon_1400 .tableList table thead tr th {height:50px; border-bottom:3px solid #ddd;}
	.mainCon_1400 .tableList table tbody tr td {height:40px; border-bottom:1px solid #ddd;}
	
	/*
	.mainCon_1400 .tableList .listPaging {width:100%; margin-top:20px; text-align:center;}
	.mainCon_1400 .tableList .listPaging > * {display:inline-block; cursor:pointer; margin-left:20px;}
	*/
	
	
	/* 그리드 테이블 */
	.mainCon_1400 .gridBox .gridTable {border:1px solid gray; border-collapse : collapse;}
	.mainCon_1400 .gridBox .gridTable tr td {width:200px; padding:5px; border:1px solid gray; }
	
	
	
	/* 이미지관리-등록된이미지 이미지박스, 소식상세보기 이미지박스 */
	.contents .mainCont .mainCon_0 {} 
	.mainCon_0 .mc0_imgBox {}
	.mainCon_0 .mc0_imgBox > span {display:inline-block; width:220px; vertical-align:top;}
	
	.mainCon_0 .mc0_imgBox span img {width:200px; margin:0 4%;}
	.mainCon_0 .mc0_imgBox > span > span {float:right; width:10px; height:30px; margin-right:20px; font-size:20px;}
	
	
	/*태그관리, 특징관리 페이지*/
	.cateBox {margin-bottom:50px; border:0px solid red;}
	.cateBox .cb_top {border:0px solid blue;}
	.cateBox .cb_top span {font-weight:600; font-size:14px;}
	.cateBox .cb_bottom {}
	.cateBox .cb_bottom > span {display:inline-block; padding:5px; background-color:#5dd5ff; border-radius:5px;}
	
	
	/* <버튼> */
	/* 이미지관리-저장버튼 / 정보수정신청-신청하기버튼 / 소식리스트-글쓰기, 소식등록-저장버튼 */
	.btn_black {cursor:pointer; background:black; color:white; text-align:center; border:1px solid black; border-radius:5px; padding:5px 10px;}
	
	/* 이미지관리-삭제버튼 / 소식등록-취소버튼 */
	.btn_gray {cursor:pointer; background:#ccc; color:black; text-align:center; border:1px solid #555; border-radius:5px; padding:5px 10px;}
	
	/* 소식관리-상세보기 버튼 */
	.btn_skyblue {cursor:pointer; background:#349FFB; color:white; text-align:center; border:1px solid #2778BD; border-radius:5px; padding:5px 10px;}
	
	/* 정보수정신청 input */
	input[type='text'] {border:0px solid #ddd; border-bottom:1px solid #ddd;}
	input[type='number'] {border:0px solid #ddd; border-bottom:1px solid #ddd;}
	input[type='text']:focus {
	    outline: none;  /* 포커스 시 outline 제거 */
	    border: none;   /* 포커스 시 border 제거 (선택 사항) */
	    border-bottom:1px solid #ddd;
	}
	
	input[type='radio'] {}
	
	/* 소식등록 textarea */
	textarea {width:98%; height:100px; background:#eee; border:1px solid #ccc;}
	
	select {
		padding:5px; border:1px solid gray; border-radius:3px; 
		/*
		appearance:none; background:url('/img/select_icon.png') no-repeat right 0px center;
		border:1px solid #999;
		*/
	}
	
	hr {width:100%; border:1px solid gray; margin:30px 0;}
	
	.mt10 {margin-top:10px;}
	
	.mr10 {margin-right:10px;}
	
	.mb10 {margin-bottom:10px;}
	.mb60 {margin-bottom:60px;}
	
	.ml10 {margin-left:10px;}
	.ml20 {margin-left:20px;}
	.ml200 {margin-left:120px;}
	
	
	.ws50 {width:50px;}
	.ws60 {width:60px;}
	.ws80 {width:80px;}
	.ws90 {width:90px;}
	.ws100 {width:100px;}
	.ws120 {width:120px;}
	.ws300 {width:300px;}
	.ws400 {width:400px;}
	.ws800 {width:800px;}
	
	.ws95p {width:95%;}
	
	.cspi {cursor:pointer;}
	
	.a_left {text-align:left; padding-left:10px;}
	.a_center {text-align:center;}
	.a_right {text-align:right; padding-right:10px;}
	