@charset "utf-8";
body{
	background-color:#FFF8EB;
}
/* header */
header {
	width: 100%; 
	height: 103px; 
	/* box-shadow: 0px 5px 10px rgba(0,0,0,0.12); */
	/* border-bottom:3px solid #FFB53C; */
	/* background-color:#fefefe; */
}
header .inner {
	position: relative; 
	display: flex; 
	justify-content: right; 
	align-items: center; 
	max-width: 1190px; 
	height: 100%; 
	margin:0 auto;
}
header .inner .logo {
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform:translate(-50%,-50%);
}
header .inner .user-area {
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	height: 74px; 
	padding-left: 92px; 
	background: url(/img/user/storeInfo/img_user.png) no-repeat left center;
}
header .inner .user-area .user {
	display: inline-block; 
	max-width: 84px;  
	overflow: hidden; 
	text-overflow: ellipsis; 
	display: -webkit-box; 
	-webkit-line-clamp: 1; 
	-webkit-box-orient: vertical; 
	font-size: 15px;
}
header .inner .user-area .noti {
	font-size: 12px;
}

/* contents */
.content-wrap {
	width: 836px;
}
.store-wrap {
	position: relative; 
	margin-top: 42px;
}

.store-wrap .tit-area {
	padding-right: 90px;
}
.store-wrap .tit-area .tit {
	font-size: 30px;
}
.store-wrap .tit-area .cate {
	display: inline-block; 
	padding-left: 15px; 
	font-size: 0;
}
.store-wrap .tit-area .cate span {
	display: inline-block; 
	font-size: 15px;
}
.store-wrap .tit-area .cate span + span {
	position: relative; 
	padding-left: 18px;
}
.store-wrap .tit-area .cate span + span:before {
	content: ''; position: 
	absolute; bottom: 0; 
	left: 7px; 
	width: 2px; 
	height: 10px; 
	background: #000; 
	transform: translateY(-50%);
}

.store-wrap .info {
	font-size: 15px;
}
.store-wrap .info > span {
	display: inline-block;
}
.store-wrap .info .start {
	padding-left: 30px; 
	background: url(/img/user/storeInfo/icon_star.png) no-repeat left center;
}
.store-wrap .info .review {
	padding-left: 20px;
}
.store-wrap .recommend {
	position: absolute; 
	top: 10px; 
	right: 0; 
	padding-left: 42px; 
	background: url(/img/user/storeInfo/icon_fork.png) no-repeat left center; 
	color: #ff533e; 
	font-size: 12px;
	font-weight: 500;
}

/* 매장 이미지 스와이프 */
.swp-store {
	height: 470px; 
	margin-top: 20px; 
	border: 1px solid #000;
	background-color:#fefefe;
}
.swp-store img{
	width:100%;
}
.swp-store .swiper-button-next, .swiper-button-prev {
	color: #000;
}

/* bg 공통 박스 */
.bg-box {
	margin: 35px 0; 
	padding: 15px; 
	border-radius: 12px; 
	background: #FFF8EB;
}
.bg-box .inner {
	padding: 15px; 
	border-radius: 12px; 
	background: #fff;
}
.bg-box .inner + .inner {
	margin-top: 24px;
}
.bg-box .inner .tit {
	font-size: 15px; 
	font-weight: 700;
}
.bg-box .inner .desc {
	margin-top: 10px; 
	font-size: 13px; 
	font-weight: 700;
}
.bg-box .inner .convenience-list li {
	display: inline-block; 
	margin: 12px 12px 0 0; 
	padding: 5px 15px; 
	border: 1.5px solid #DFDFDF; 
	border-radius: 40px; 
	background:#fff; 
	text-align: center;
}

.bg-box .inner.txt {
	padding: 15px 38px;
}

/* 아코디언 */
.acco-wrap .acco-head {
	font-size: 0;
}
.acco-wrap .acco-head .btn-acco {
	position: relative; 
	display: inline-block; 
	padding-right: 36px; 
	font-size: 16px;
}
.acco-wrap .acco-head .btn-acco:after {
	content:''; 
	position: absolute; 
	right: 0; 
	top: 50%; 
	width: 20px; 
	height: 20px; 
	background: url(/img/user/storeInfo/icon_down.png) no-repeat center center; 
	transform: translateY(-45%); 
	transform-origin: center center;
}
.acco-wrap .acco-head .btn-acco.on:after {
	transform: translateY(-45%) rotate(180deg);
}
.acco-wrap .acco-head i {
	display: inline-block;
	width: 20px; 
	height: 20px;
}
.acco-wrap .acco-head i.map {
	background: url(/img/user/storeInfo/icon_map.png) no-repeat left center;
}
.acco-wrap .acco-head i.clock {
	position: relative; 
	top: 2px; 
	background: url(/img/user/storeInfo/icon_clock.png) no-repeat left center;
}
.acco-wrap .acco-body {
	display: none; 
	margin-top: 5px; 
	padding-left: 26px; 
	font-size: 15px;
}

.acco-wrap .acco-body .addr-list {
	display: block; 
	width: 495px; 
	padding: 16px; 
	border: 1px solid rgba(0,0,0,0.5); 
	border-radius: 10px;
}
.acco-wrap .acco-body .addr-list li {
	display: flex;
}
.acco-wrap .acco-body .addr-list li + li {
	margin-top: 5px;
}
.acco-wrap .acco-body .addr-list li .item {
	flex-basis: 85px; 
	flex-shrink: 0;
}
.acco-wrap + .desc {
	padding-left: 26px; 
	margin-top: 20px; 
	font-size: 10px;
}

.acco-wrap .acco-body .time-list {
	display: block;
}
.acco-wrap .acco-body .time-list li {
	display: flex; 
	font-size: 12px;
}
.acco-wrap .acco-body .time-list li .item {
	flex-basis: 28px;
}
.copy-link{
	color:blue;
}
.copy-link:hover{
	text-decoration:underline;
}
/* 공지사항 스와이프 */
.swp-noti {
	position: relative; 
	padding-bottom: 49px;
}
.swp-noti .swiper-pagination-bullets .swiper-pagination-bullet {
	width: 10px; 
	height: 10px; 
	background: #ff533e;
}
.swp-noti .btn-area {
	margin-top: 15px; 
	text-align: center;
}
.swp-noti .btn-area .btn-more {
	display: inline-block; 
	padding: 5px 15px; 
	border-radius: 10px; 
	background: #FFF8EB; 
	color:#5f420f; 
	font-size: 10px; 
	font-weight: 500;
}

/* 리뷰 버튼 */
.btn-review {
    display: block;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    background: #FFB53C;
    text-align: center;
    width: 98%;
    margin: auto;
}

/* 메뉴 리스트 */
.tab-wrap {
	padding: 10px 37px;
}
.tab-wrap .tab-list {
	margin-bottom: 20px;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    column-gap: 20px;
    row-gap: 10px;
}
.tab-wrap .tab-list li {
	display: inline-block; 
	padding: 8px 28px; 
	border:2px solid #FFB53C;
	border-radius: 20px; 
	font-size: 15px; 
	font-weight: 500;
}
/* .tab-wrap .tab-list li + li {
	margin-left: 24px;
} */
.tab-wrap .tab-list li.on {
	background: #FFB53C; 
	color: #fefefe; 
	font-weight: 700;
}
.tab-wrap .tab-contents .tab-panel {
	display: none;
}

.tab-wrap .tab-contents .menu-list li {
	display: flex; 
	padding: 24px 20px; 
	background: #fefefe;
}
.menu-img-wrap{
	width:30%;
	height:140px;
	overflow: hidden;
	text-align:center;
	border:1px solid #FFB53C;
	margin:0px 20px;
}
.tab-wrap .tab-contents .menu-list li img {
	/* margin-right: 20px; */
	height:100%;
}
.tab-wrap .tab-contents .menu-list li .txt-area {
	position: relative;
	width:60%;
}
.tab-wrap .tab-contents .menu-list li .txt-area strong {
	display: block; 
	padding-right: 62px; 
	font-size: 12px; 
	font-weight: 500;
}
.tab-wrap .tab-contents .menu-list li .txt-area .price {
	position: absolute; 
	top: 4px; 
	right: 0; 
	font-size: 10px; 
	font-weight: 500;
}
.tab-wrap .tab-contents .menu-list li .txt-area p {
	margin-top: 18px; 
	font-size: 10px; 
	font-weight: 500;
}
.tab-wrap .tab-contents .menu-list li + li {
	margin-top: 32px;
}
.tab-wrap .tab-contents .btn-menu-more {
	display: none; 
	width: 100%; 
	margin-top: 28px; 
	padding: 18px 0; 
	border-radius: 10px; 
	background: #FFB53C;
	font-size: 15px; 
	font-weight: 700; 
	color: #fff; 
	text-align: center;
}
/* 오른쪽 예약 영역 */
.reservation {
    position: sticky;
    top: 0;
    right: 0;
    min-width: 328px;
    width: 328px;
    height: fit-content;
    margin-top: 24px;
    background: #FFB53C;
    border-radius: 10px;
}
.reservation div{
	width:300px;
	margin:10px auto;
	background-color:#fefefe;
}
.reservation .cal-wrapper{
	height:300px;
	text-align:center;
}
.reservation .cnt-wrapper, .reservation .time-wrapper{
	height:70px;
}
.reservation .table-wrapper{
	height:100px;
}
.reservation .btn-wrapper{
	height:70px;
}
