<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.eats.mapper.store.LoginMapper">
  
  
  	<select id="storeLogin" parameterType="String" resultType="com.eats.store.model.EatsStoreDTO">
  		SELECT
  		STORE_PWD,STORE_IDX
  		FROM
  		STORE_ACCOUNT
  		WHERE
  		STORE_ID=#{store_id}  		
  	</select>
  	
  	
  	<select id="findId"  parameterType="com.eats.store.model.EatsStoreDTO" resultType="String">
  		
  		SELECT STORE_ID
  		FROM STORE_ACCOUNT
  		WHERE
  		STORE_EMAIL=#{store_email}
  		AND
  		STORE_CEO=#{store_ceo}	
  	
  	</select>
  
  
  	<select id="storeidCheckForFindPwd">
		SELECT
			STORE_EMAIL
		FROM
			STORE_ACCOUNT
		WHERE
			STORE_ID=#{store_id}
	</select>
	
	
	<update id="storeUpdatePwd" parameterType="map">
	UPDATE
		STORE_ACCOUNT
	SET
		STORE_PWD=#{newPwd}
	WHERE
		STORE_ID=#{store_id}
	</update>
	
	
	<select id="storeInfo" parameterType="String" resultType="String">
		SELECT 
			STORE_CEO
		FROM
			STORE_ACCOUNT
		WHERE
			STORE_ID=#{store_id}
		
	
	</select>
	
	
  </mapper>