<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eats.mapper.store.ReserveMapper">
	<select id="tables" parameterType="map" resultType="com.eats.store.model.reserve.TableDTO">
		select 
			table_num, sts_num as cnt, reserve_state as stat, cv.cate_value_name as tabletype
		from 
			store_table_set sts 
		left join 
			reservation r 
		on 
			r.reserve_table_idx = sts.sts_idx and store_idx = #{storeIdx} 
		and 
			reserve_date = TO_DATE(#{day}, 'YYYY-MM-DD') 
		and 
			reserve_time = #{time} 
		left join 
			category cg 
		on 
			sts.sts_type_idx = cg.cate_idx
		left join 
			cate_value cv 
		on 
			cg.cate_value_idx = cv.cate_value_idx
		order by 
			table_num asc
	</select>
</mapper>