<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eats.mapper.store.SalesMapper">
	<insert id="insertSell" parameterType="com.eats.store.model.SalesSaveDTO">
	    <selectKey keyProperty="sellIdx" resultType="int" order="BEFORE">
	        SELECT SELL_IDX_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
	    
	    INSERT INTO SELL (
	        SELL_IDX,
	        STORE_IDX,
	        SELL_DATE,
	        SELL_STAT,
	        TOTAL_CNT,
	        SELL_METHOD
	    ) VALUES (
	        #{sellIdx},
	        #{storeIdx},
	        #{sellDate},
	        1,
	        #{totalCnt},
	        #{sellMethod}
	    )
	</insert>
	
	<insert id="insertSellDetails" parameterType="map">
	    INSERT INTO SELL_DETAIL (
	        SELL_D_IDX,
	        SELL_IDX,
	        MENU_IDX,
	        ORDER_NUM
	    ) VALUES (
	        SELL_D_IDX_SEQ.NEXTVAL,
	        #{sellIdx},
	        #{menuIdx},
	        #{orderNum}
	    )
	</insert>
	
	
	<select id="sellList" parameterType="com.eats.store.model.SalesSearchDTO" resultType="com.eats.store.model.SalesResponseDTO">
		SELECT 
		    TO_CHAR(SELL_DATE, 
		        <choose>
		            <when test="dateType == 'hour'">
		                'HH24'
		            </when>
		            <when test="dateType == 'day'">
		                'YYYY-MM-DD'
		            </when>
		            <when test="dateType == 'week'">
		                'YYYY-"W"WW'
		            </when>
		            <when test="dateType == 'month'">
		                'YYYY-MM'
		            </when>
		        </choose>
		    ) AS sellDate,
		    TO_CHAR(SUM(TOTAL_CNT), 'FM999,999,999') AS salesAmount,
		    TO_CHAR(COUNT(*), 'FM999,999') AS salesCount,
		    #{dateType} AS dateType
		FROM SELL 
		WHERE STORE_IDX = #{storeIdx}
		    AND SELL_STAT = 1
		    AND SELL_DATE BETWEEN TO_DATE(#{startDateTime}, 'YYYY-MM-DD HH24:MI') 
		                      AND TO_DATE(#{endDateTime}, 'YYYY-MM-DD HH24:MI')
		GROUP BY TO_CHAR(SELL_DATE, 
		    <choose>
		        <when test="dateType == 'hour'">
		            'HH24'
		        </when>
		        <when test="dateType == 'day'">
		            'YYYY-MM-DD'
		        </when>
		        <when test="dateType == 'week'">
		            'YYYY-"W"WW'
		        </when>
		        <when test="dateType == 'month'">
		            'YYYY-MM'
		        </when>
		    </choose>
		)
		ORDER BY sellDate ASC
	</select>
</mapper>