<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.eats.mapper.store.storeMenuMapper">

	<select id="storeCateList" resultType="com.eats.store.model.MenuDTO">
		select * from CATE_KEY_TEST
	</select>
	
	<select id="storeMenuList" parameterType="Integer" resultType="com.eats.store.model.MenuDTO">
		select * 
		from 
		MENU_TEST
		<if test="idx!=0">
			where m_cate_idx = #{idx}
		</if>
	</select>
	
	<insert id="insertMenu" parameterType="com.eats.store.model.MenuDTO">
		insert into 
		menu_test
		values(
		MENU_IDX.NEXTVAL, 
		M_CATE_IDX.NEXTVAL,
		#{menu_name},
		#{menu_price},
		#{menu_info},
		#{menu_img},
		#{menu_preorder}
		)
	</insert>
	
</mapper>