<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.eats.mapper.store.StoreNewsMapper">
		<insert id="storeNewsInsert" parameterType="com.eats.store.model.StoreNewsDTO">
			insert into store_news
			values(S_NEWS_IDX_SEQ.nextval,
			#{store_idx},
			#{s_news_title},
			#{s_news_img},
			#{s_news_content},
			TO_CHAR(SYSDATE, 'YYYY-MM-DD'),
			#{s_news_del})
		</insert>

		<select id="storeNewsList" resultType="com.eats.store.model.StoreNewsDTO">
			select * 
			from store_news 
			where store_idx = #{store_idx}
		</select>
		
		<select id="storeNewsTotalCnt" resultType="Integer">
			select count(*) from store_news where store_idx = #{store_idx}
		</select>
		
		
	   <select id="storeNewsData" resultType="com.eats.store.model.StoreNewsDTO">
		    SELECT * 
		    FROM store_news
		    WHERE s_news_idx = #{news_idx}
	   </select>
		
		
	</mapper>
