<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.eats.mapper.store.storeMenuMapper">

	<select id="storeCateList" resultType="com.eats.store.model.MenuDTO">
		select * from MENU_CATE
	</select>
	
	
	<select id="storeMenuList" parameterType="Integer" resultType="com.eats.store.model.MenuDTO">
		select * 
		from 
		MENU
		<if test="idx!=0">
			where m_cate_idx = #{idx}
		</if>
	</select>
	
	
	<insert id="insertMenu" parameterType="com.eats.store.model.MenuDTO">
	    
        INSERT INTO 
        MENU (MENU_IDX, M_CATE_IDX, MENU_NAME, MENU_PRICE, MENU_INFO, MENU_PREORDER, MENU_IMG)
        VALUES (
            MENU_IDX_SEQ.NEXTVAL, 
            #{m_cate_idx},  
            #{menu_name},  
            #{menu_price}, 
            #{menu_info},  
            #{menu_preorder}, 
            #{menu_img}   
        )
 
	</insert>	

	
	<delete id="deleteMenuCate" parameterType="String">
			delete 
			from
				MENU_CATE
			where
				m_cate_name=#{m_cate_name}	
	</delete>
	
	
	<!-- 카테고리 등록 -->
	<insert id="insertCate" parameterType="String">
	
	 insert into 
	 MENU_CATE
	 values(
	 M_CATE_IDX_SEQ.NEXTVAL, 
	 STORE_IDX_SEQ.NEXTVAL,
	 #{m_cate_name},
	 #{m_cate_info}
	 )
	</insert>
	
	
	
	<!-- 선택한 메뉴삭제 -->
	<delete id="deleteMenu" parameterType="java.util.List">
		
		delete from
		MENU
		where
		menu_idx in 
		<foreach item="menu_idx" collection="list" open="(" separator="," close=")">
			#{menu_idx}
		</foreach>
		
	</delete>
	
	
	
	<!-- 메뉴 수정 -->
	<update id="updateMenu" parameterType="com.eats.store.model.MenuDTO">
		update
		MENU
		set
		m_cate_idx=#{m_cate_idx},
		menu_name=#{menu_name},
		menu_price=#{menu_price},
		menu_info=#{menu_info},
		menu_preorder=#{menu_preorder},
		menu_img=#{menu_img}
		where
		menu_idx=#{menu_idx}	
			
	</update>
	
	<!-- 수정할 메뉴 정보 불러오기 -->
	<select id="updateMenuInfo" parameterType="Integer" resultType="com.eats.store.model.MenuDTO">
		select * from menu 
		where
		menu_idx=#{menu_idx}
	</select>
	
	
</mapper>

