<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eats.mapper.store.StoreImgMapper">
	<insert id="storeImgInsert" parameterType="com.eats.store.model.StoreImgDTO">
    	insert into STORE_IMG
       		values(SI_IDX_SEQ.nextval,
        	#{store_idx},
        	#{store_img1},
        	#{store_img2},
        	#{store_img3},
        	#{store_img4},
        	#{store_img5})
   	</insert>
   	
   	<select id="storeImgData" resultType="com.eats.store.model.StoreImgDTO">
		SELECT *
		FROM (
		    SELECT * 
		    FROM store_img
		    ORDER BY si_idx DESC
		)
		WHERE ROWNUM = 1
	</select>
	
	<update id="storeImgUpdate" parameterType="com.eats.store.model.StoreImgDTO">
		update store_img set
			store_img1=#{store_img1},
			store_img2=#{store_img2},
			store_img3=#{store_img3},
			store_img4=#{store_img4},
			store_img5=#{store_img5}
		where 
			si_idx=#{si_idx}
	</update>
	
	<delete id="storeImgUpDel" parameterType="com.eats.store.model.StoreImgDTO">
		update store_img set
			store_img1=#{store_img1},
			store_img2=#{store_img2},
			store_img3=#{store_img3},
			store_img4=#{store_img4},
			store_img5=#{store_img5}
		where 
			si_idx=#{si_idx}
	</delete>

</mapper>
