<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.eats.mapper.store.StoreReserveMapper">
  	<select id="getStoreReserveOkList" parameterType="Map" resultType="com.eats.store.model.ReserveOkListDTO">
		select distinct c.*, user_tel from
		(select b.*, table_num from
		(select user_name, a.* from
		(select * from reservation
		where store_idx=#{store_idx} and to_char(reserve_date, 'yyyy-mm-dd')=#{todayDate})a, eats_user
		where a.user_idx=eats_user.user_idx)b, store_table_set
		where b.reserve_table_idx=store_table_set.sts_idx)c, user_profile
		where c.user_idx=user_profile.user_idx
		<if test="searchTel!=null and searchTel!=''">
			and replace(user_tel,'-','') like '%'||#{searchTel}||'%'
		</if>
		<if test="searchName!=null and searchName!=''">
			and user_name like '%'||#{searchName}||'%'
		</if>
		order by reserve_idx asc
  	</select>
  	
  	<select id="getStoreReserveOkListDetail" parameterType="Integer" resultType="com.eats.store.model.ReserveOkListDTO">
  		select f.*, pay_price, pay_method
  		from (select d.*, cate_value_name
		from (select c.*, table_num, sts_type_idx
		from (select user_name, b.*
		from (select a.*, user_tel
		from (select * from reservation where reserve_idx=#{reserve_idx})a, user_profile
		where a.user_idx=user_profile.user_idx)b, eats_user
		where b.user_idx=eats_user.user_idx)c, store_table_set
		where c.reserve_table_idx=store_table_set.sts_idx)d, cate_value
		where d.sts_type_idx=cate_value.cate_value_idx)f, reserve_pay
		where f.reserve_idx=reserve_pay.reserve_idx
  	</select>
  </mapper>