@charset "UTF-8";
body{
	font-family: "Noto Sans KR", sans-serif;
}
#user_login_form{
	width:50%;
	margin:100px auto;
}
.login-wrapper{
	width:100%;
	margin:auto;
	text-align:center;
}
.logo-wrapper{
	width:20%;
	margin:20px auto;
}
.logo-wrapper img{
	width:100%;
}
.text-wrapper{
	width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-wrapper input{
	width:95%;
    margin-top: 20px;
    background-color: #FFF8EB;
    border: 1px solid gray;
    height: 30px;
    border-radius: 5px;
    padding: 10px 5px 10px 10px;
    color: #1E1E1E;
    font-family: "Noto Sans KR", sans-serif;
}
.saveId-wrapper{
	margin: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
}
.button-wrapper{
	display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
#button-login, #button-kakao{
    font-size: 15px;
    padding: 20px 0px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 0;
    font-family: "Noto Sans KR", sans-serif;
}
#button-login{
	background-color:#FFB53C;
	color:#FFF8EB;
}
#button-kakao{
	box-shadow: 0 0 0 1px #FFB53C inset;
	background-color:#FFF8EB;
}
.findAcc-wrapper{
	text-align:center;
	margin-top:20px;
	color:gray;
}
.findAcc-wrapper a{
	text-decoration:none;
	color:gray;
}
.findAcc-wrapper a:hover{
	text-decoration:underline;
}