<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper>
	<select id="loginAuth" parameterType="String" resultType="String">
		SELECT user_pwd
		FROM eats_user
		WHERE user_id = #{userId}
	</select>
	<select id="getAdmin" parameterType="String" resultType="Int">
		SELECT user_idx
		FROM eats_user
		WHERE user_id = #{userId}
	</select>
</mapper>