<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.eats.mapper.admin.BannerMapper">
  
  
	<select id="bannerList" resultType="com.eats.admin.model.BannerDTO">
		select * from
		banner
	
	</select>
  
  	<insert id="bannerInsert" parameterType="com.eats.admin.model.BannerDTO">
    INSERT INTO banner (
        BANNER_IDX,
        BANNER_IMG,
        BANNER_ORDER,
        BANNER_NAME,
        BANNER_URL,
        BANNER_STAT,
        BANNER_SDATE,
        BANNER_EDATE
    ) VALUES (
        banner_idx_seq.nextval,
        #{banner_img},
        #{banner_order},
        #{banner_name},
        #{banner_url},
        #{banner_stat},
        #{banner_sdate},
        #{banner_edate}    
    )
  	</insert>
  
  </mapper>

