@charset "UTF-8";
.header_box {
    width: 1440px;
    height: 140px;
    background-color: #FFEDD0;
    margin: 0 auto;
    text-align: center;
  position: relative;

  font-family: "Noto Sans KR", sans-serif;
}
.header_logo_icon {
    margin-top: 28px;
  width: 156px;
  object-fit: contain;
}
.header_profile_box {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 16px;
    color: #461002;
}