@charset "UTF-8";

.body_box {
	width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	padding-bottom: 100px;
}

.my_contents {
	overflow: auto;
	font-family: "Noto Sans KR", sans-serif;
	width: 1240px;
	height:900px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 25px;
	row-gap: 20px;
}

.month_graph_data {
	width: 1000px;
	margin : 0 auto;
}

.month_graph {
  background: #ffffff;
  width: 1120px;
  height: 350px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);

  padding: 20px 40px;
  display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.tag_graph {
  background: #ffffff;
  width: 1120px;
  height: 405px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 40px;
}

.month_graph_title {
  display: flex;
  flex-direction: row;
  align-items: center;

  column-gap: 20px;
}

.month_graph_title_text {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.month_graph_sub {
  background: #ffffff;
  border-radius: 6px;
  width: 220px;
  height: 50px;
  box-shadow: 0px 0px 2.22px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding-left: 15px;
}
.month_graph_sub_count {
  font-size: 15px;
  font-weight: 600;
  color: #767676;
}
.month_graph_sub_date {
  font-size: 13px;
  font-weight: 400;
  color: #767676;
}

.tag_graph_title_main {
	width: 300px;
}

.tag_graph_title {
  display: flex;
  flex-direction: row;

  column-gap: 40px;
}

.tag_graph_title_date {
 font-size: 12px;
 font-weight: 400;
 margin-left: 3px;
}

.tag_graph_title_text {
  font-size: 24px;
  font-weight: 600;
}

.tag_graph_labels {
  display: flex;
  flex-direction: row;

  column-gap: 15px;
  margin-left: 40px;
  margin-top: 10px;
}

.tag_graph_label {
  display: flex;
  flex-direction: row;
  column-gap: 5px;

  justify-content: center;
  align-items: center;
}

.tag_graph_circle {
  border-radius: 50px;
  width: 10px;
  height: 10px;
}

.ppm_circle {
  background-color: #FBD288;
}

.pm_circle {
  background-color: #FF9C73;
}

.t_circle {
  background-color: #FF4545;
}

.tag_graph_text {
  font-size: 14px;
  font-weight: 600;
  color: #767676;
}

.tag_graph_category {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 15px;
  column-gap: 15px;
  
  width: 780px;
}

.tag_graph_category_title {
  font-size: 15px;
  font-weight: 600;
  color: #FF955A;
  width: 95px;
  margin-top: 5px;
}

.tag_graph_tags {
  display: flex;
  flex-direction: row;
  column-gap: 7px;
  row-gap: 3px;
  
  flex-wrap: wrap;
  width: 670px;
}

.tag_graph_tag { 
  border: 2px solid #f3553c;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
}

.tag_graph_tag_text {
  color: #f3553c;
  font-size: 13px;
  font-weight: 500;
}