@charset "UTF-8";
.body_box {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-bottom : 100px;
}

.my_contents {
  overflow: auto;
  font-family: "Noto Sans KR", sans-serif;
  width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  row-gap: 25px;
}

.category_box {
  background: #fff8eb;
  border-radius: 13px;
  width: 1170px;
  padding-bottom: 40px;
}

.category_title_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 12px 24px;
}
.category_title_text {
  font-size: 24px;
  font-weight: 800;
  padding: 10px 13px;
}
.category_delete_text {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  color: #8C8C8C;
}

.tag_group {
display: flex;
justify-content: flex-start;
padding: 0 25px;
column-gap: 15px;
row-gap: 7px;
flex-wrap: wrap;
}
.tag_box {
border: 2px solid #FFB53C;
border-radius: 16px;
background-color: white;
padding: 0 35px;
position: relative;
display: flex;
justify-content: center;
align-items: center;

height: 45px;
}

.tag_text {
  font-size: 16px;
  font-weight: 400;
  color:#461002;
}
.tag_delete_icon {
  position: absolute;
  top: -8px;
  right: -8px;
  display: none;
  opacity: 0.8;
}
.tag_delete_icon:hover {
	cursor:pointer;
	transform: scale(1.1);
	opacity: 1;
}
.tag_add_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  padding: 0 10px;
}

.category_add_box {
  display: flex;
  flex-direction: row;
  columns: 40px;

  background: #fff8eb;
  border-radius: 13px;
  width: 1170px;
  padding: 10px 25px;
  align-items: center;

  border: 1px solid rgba(109, 69, 40, 0.24);
}
.category_add_icon {
  width: 41px;
  height: 41px;
  object-fit: cover;
  margin-right: 10px;
}
.category_title_input {
font-size: 24px;
  font-weight: 800;
  background-color: transparent;
  color: #81625A;
  text-align: left;
   width: 250px;
}
.category_title_inpput:placeholder {
	text-align: center;
}
.category_title_input:focus {
	outline: none;
}
.category_add_input {
  border: 2px solid rgba(109, 69, 40, 0.24);
  background-color: #FFB53C;
  color: #461002;
  border-radius: 16px;
  text-align: left;
  padding: 15px 20px;
}
.category_add_input::placeholder {
  color: #461002;
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
}
.category_add_input:focus {
  outline: none;
}